
#menu-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: white;
  z-index: 100;
  align-items: center;
  transition: all 0.5s ease;
  display: flex;
}

/****************Logo EP*****************/
#menu-bar .logo-ep-head {
  position:absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  height: 100%;
}
#menu-bar .logo-ep-head .logo-head{
  margin-left: 10px;
  margin-right: 5px;
  height: 40px;
}

#menu-bar .logo-ep-head i {
  margin-left: 10px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  align-items: center;
  border-radius: 50%;
  line-height: 40px;
  font-size: 20px;
  padding-left: 10px;
  color: black;
  display: block;
}

#menu-bar .logo-ep-head span{
  font-weight: 500;
  font-size: 14px;
}

#menu-bar .logo-ep-head i:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#menu-bar .logo-ep-head .e-p{
  display: none;
}

#menu-bar .logo-ep-head .exploration-production{
  display: block;
}

/*******************User*************************/
#menu-bar .profile-user{
  position:absolute;
  top: 0px;
  right: 5px;
  text-align: center;
  margin: auto;
  display: grid;
  cursor: pointer;
  height: 100%;
  width: 80px;
}

#menu-bar .profile-user .user-photo{
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
}

#menu-bar .profile-user h5{
  color: black;
  margin-top: 2px;
}

/**********************Filter***********************/  
/*list*/
#menu-bar .filter-links, #menu-bar .header-links{
  position: absolute;
  line-height: 60px;
  height: 100%;
  display: flex;
  right: 90px;
}

#menu-bar .header-links{
  z-index: 100;
  background: white;
}

#menu-bar .filter-links li, #menu-bar .header-links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

#menu-bar .filter-links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

#menu-bar .filter-links li:hover .filter-list{
  transform: rotate(180deg);
}

#menu-bar .filter-links li .filter-list{
  height: 100%;
  width: 22px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  color: black;
  transition: all 1s ease;
}

/*sublist*/
#menu-bar .filter-links li .filter-sub-list{
  position: absolute;
  top: 60px;
  left: 0%;
  line-height: 40px;
  background: rgb(252, 250, 247);
  box-shadow: 0px 0px 1px;
  border-radius: 4px;
  display: none;
  z-index: 2;
}

#menu-bar .filter-links li:hover .filter-sub-list{
  display: block;
}

#menu-bar .filter-links li .filter-sub-list li{
  padding: 0 22px;
  border: 0px;
}

#menu-bar .filter-links li .filter-sub-list a{
  color: black;
  font-size: 15px;
  font-weight: 500;
}

#menu-bar .filter-links li .filter-sub-list li:hover{
  background: rgba(255, 239, 210, 0.5);
}

#menu-bar .filter-links li .filter-sub-list .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
#menu-bar .filter-links li .filter-sub-list .more:hover .more-sub-menu{
  display: block;
}

.filter-links{
  position: relative;
  top: -1px;
  right: -700px;
  display: none;
  background: rgb(252, 250, 247);
  border-radius: 5px;
  box-shadow: 0px 0px 1px;
  z-index: 3;
}

@keyframes slidein{
  from {top: 0px;} 
  to{top:62px;} 
}

.filter-links.show{
  top: 62px;
  animation: 1s slidein;
}

/*******************menu links********************/

.filter{
  border-color: rgb(185, 185, 185);
  border-radius: 5px;
  cursor: pointer;
}

.filter:hover{
  background-color: rgba(222, 222, 222, 0.8);
}

.filter.active{
  background-color: rgba(222, 222, 222, 0.5);
}

.menu-bar-list{
  border-right-style:double;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  margin-top: 10px;
  height: calc(100% - 20px);
  cursor: pointer;
}

.menu-bar{
  display: flex;
}

.menu-bar-list::after{
  content: '';
  position: absolute;
  left: 5%;
  bottom: -10px;
  width: 90%;
  height: 2px;
  background: rgb(50, 50, 50);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.menu-bar-list:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.menu-bar-list.active::after{
  transform: scaleX(1);
  left: 0%;
  width: 100%;
}

.header-links span{
  font-size: 14px;
}

.profile-user span{
  font-size: 12px;
  font-weight: 700;
}

/**********************Resize***********************/

@media only screen and (max-width: 1280px){
  #menu-bar .logo-ep-head .e-p{
    display: block;
  }
  
  #menu-bar .logo-ep-head .exploration-production{
    display: none;
  }
}

@media only screen and (max-width: 1024px){
  .menu-bar-list i{
    display: none;
  }

  .filter span{
    display: none;
  }
}

@media only screen and (max-width: 890px){
  .menu-bar-list i{
    display: block;
    margin-left: 20px;
  }  

  .menu-bar-list{
    width: 82px;
  }

  .menu-bar-list span{
    display: none;
  }  
/**********User**************/
#menu-bar .profile-user{
  right: 5px;
  width: 30px;
}

#menu-bar .profile-user .user-photo{
  width: 30px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: 15px;
}

#menu-bar .profile-user span{
  display: none;
}

#menu-bar .filter-links, #menu-bar .header-links{
  right: 50px;
}

}

@media only screen and (max-width: 670px){
  #menu-bar .logo-ep-head i{
    display: none;
  }
}

@media only screen and (max-width: 620px){
  #menu-bar .logo-ep-head {
    display: none;
  }
}