aside{
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    width: 220px;
    background: var(--shColor);
    z-index: 900;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  
  aside nav::-webkit-scrollbar{
    display: none;
  }

  aside.close{
    width: 0px;
  }
  
  /*********User***********/
  aside .profile-user{
    display: flex;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    border-bottom: solid 1px rgb(104, 67, 0);

  }

  aside .profile-user .user-photo{
    height: 40px;
    border-radius: 50%;
    margin-bottom: -10px;
    margin-left: 5px;
  }

  aside .profile-user h4{
    color: white;
  }  

  #nameUser{
    margin: 10px 5px;
    white-space: nowrap;
  }
  
  /************Nav**************/
  aside nav{
    height: calc(100% - 90px);
    margin-top: 30px;
    overflow: auto;
  }


  
  aside nav a{
    position: relative;
    list-style: none;
    transition: all 0s ease;
    margin-top: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    white-space: nowrap;
  }
  
  aside nav a.active{
    background-color: rgb(200, 100, 0);
  }
  
  aside nav a span{
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  
  aside nav a i{
    height: 20px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0s ease;
  }

  aside nav a:hover{
    background-color: rgb(200, 100, 0);
  }
  
  aside nav a:last-child{
    position: absolute;
    bottom: 0px;
    border-top: solid 1px rgb(104, 67, 0);
    width: 100%;
    background-color: var(--shColor);
  }

  aside nav a:last-child:hover{
    background-color: rgba(255, 165, 0, 0.3);
  }  

  @media only screen and (max-width: 760px){
    aside{
      width: 50px;
    }
  }

  @media only screen and (max-width: 670px){
    aside{
      width: 0px;
    }
  }